
<%= simple_form_for(@recept_connect) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.association :recept %>
    <%= f.association :material %>
    <%= f.input :amount %>
    <%= f.input :unit %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
