<p id="notice"><%= notice %></p>

<h1>Recept Connects</h1>

<table>
  <thead>
    <tr>
      <th>Recept</th>
      <th>Material</th>
      <th>Size</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @recept_connects.each do |recept_connect| %>
      <tr>
        <td><%= recept_connect.recept.name %></td>
        <td><%= recept_connect.material.name %></td>
        <td><%= recept_connect.amount %></td>
        <td><%= recept_connect.unit %></td>
        <td><%= link_to 'Show', recept_connect %></td>
        <td><%= link_to 'Edit', edit_recept_connect_path(recept_connect) %></td>
        <td><%= link_to 'Destroy', recept_connect, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Recept Connect', new_recept_connect_path %>
