<p id="notice"><%= notice %></p>

<p>
  <strong>Recept:</strong>
  <%= Recept.find(@recept_connect.recept_id).name %>
</p>

<p>
  <strong>Material:</strong>
  <%= Material.find(@recept_connect.material_id).name %>
</p>

<p>
  <strong>Size:</strong>
  <%= @recept_connect.amount %> <%= @recept_connect.unit %>
</p>

<%= link_to 'Edit', edit_recept_connect_path(@recept_connect) %> |
<%= link_to 'Back', recept_connects_path %>
