<h1>Menü tervező</h1>

<table class="table table-bordered table-dark">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">MenüPlan</th>
    <th scope="col">Menü</th>
    
  </tr>
  </thead>
  <tbody>
  <% @planers.each do |d| %>
    <tr>
      <th scope="row"><%= d.day  %></th>

      <td>
        <%= simple_form_for d do |f| %>
          <%= f.association :recepts, label: false %>
          
          <%= f.button :submit, 'Mentés', class:"btn btn-success"%>  
        <% end %>
        
      </td>
      <td> 
        
       <% d.recepts.each do |c|   %>
        <div style="width:150px" class="btn btn-primary m-1"><%= c.name %></div><br>


       
         
        
      <% end %></td>
      

    </tr>
  <% end %>
  </tbody>
</table>

